/*==Symbols i used in my site skins==*/
dl.stats dt {
	display: none;
}

dl.stats dd.language::before,
.work.meta dd.language::before,
dl.stats dd.words::before,
dl.stats dd.chapters::before,
dl.stats dd.collections::before,
.work.meta dd.collections::before,
dl.stats dd.comments::before,
dl.stats dd.kudos::before,
dl.stats dd.bookmarks::before,
dl.stats dd.hits::before,
dl.stats dd.series::before,
.work.meta dd.series::before,
dl.stats dd.published::before,
dl.stats dd.status::before,
dl.stats dd.subscriptions::before,
.bookmark .user.module.group h5.byline.heading::before,
.bookmark .meta.commas::before,
.series.meta dl.stats dd::before,
li[class*="series-"] dl.stats dd::before,
li[class*="external-work"] dl.stats dd a::before,
li.collection dl.stats a[href*="/collections"]::before,
.tagset dl.stats dd::before {
	display: inline-block;
	content: "";
	width: 15px;
	height: 15px;
	background-size: 15px !important;
	margin: 0px 3px -2px 0;
}

dl.stats dd.language::before,
.work.meta dd.language::before {
	background: url(https://i.ibb.co/R9kL5F0/lang.png);
}

dl.stats dd.words::before,
.series.meta dl.stats dd:first-of-type:not([class])::before,
li[class*="series-"] dl.stats dd:first-of-type:not([class])::before {
	background: url(https://i.ibb.co/HCv1bSG/image.png);
}

dl.stats dd.chapters::before,
.series.meta dl.stats dd:nth-of-type(2):not([class])::before,
li[class*="series-"] dl.stats dd:nth-of-type(2):not([class])::before {
	background: url(https://i.ibb.co/XtLW1Gr/page.png);
}

dl.stats dd.collections::before,
.work.meta dd.collections::before,
li.collection dl.stats a[href*="/collections"]::before,
.bookmark .meta.commas::before {
	background: url(https://i.ibb.co/3dx21sP/image.png);
}

dl.stats dd.comments::before {
	background: url(https://i.ibb.co/wNLh0GX/image.png);
}

dl.stats dd.kudos::before {
	background: url(https://i.ibb.co/bWp7KC4/kudo.png);
}

dl.stats dd.bookmarks::before,
.series.meta dl.stats dd:nth-of-type(4):not([class])::before,
li[class*="series-"] dl.stats dd:nth-of-type(3):not([class])::before,
li[class*="external-work"] dl.stats dd a:is([href*="/external_works"][href*="/bookmarks"])::before,
li.collection dl.stats a[href*="/bookmarks"]::before {
	background: url(https://i.ibb.co/x8q45z7/image.png);
}

dl.stats dd.hits::before {
	background: url(https://i.ibb.co/VV8myx8/image.png);
}

dl.stats dd.series::before,
.work.meta dd.series::before,
li[class*="external-work"] dl.stats dd a[href*="/external_works"]::before,
li.collection dl.stats a[href*="/works"]::before {
	background: url(https://i.ibb.co/JdmPgcB/work.png);
}

dl.stats dd.published::before {
	background: url(https://i.ibb.co/5smgps0/image.png);
}

dl.stats dd.status::before,
.series.meta dl.stats dd:nth-of-type(3):not([class])::before {
	background: url(https://i.ibb.co/NCMzpdf/image.png);
}

dl.stats dd.subscriptions::before {
	background: url(https://i.ibb.co/5sxHwvm/image.png);
}

li.collection dl.stats a[href*="/fandoms"]::before,
.tagset dl.stats dd:first-of-type::before {
	background: url(https://i.ibb.co/py1xqKp/image.png);
}

li.collection dl.stats a[href*="/requests"]::before {
	background: url(https://i.ibb.co/KqKcLVJ/image.png);
}

.tagset dl.stats dd:nth-of-type(2)::before {
	background: url(https://i.ibb.co/Hxkkmh1/image.png);
}

.tagset dl.stats dd:nth-of-type(3)::before {
	background: url(https://i.ibb.co/mtjwTnh/image.png);
}

.tagset dl.stats dd:last-of-type::before,
.bookmark .meta.tags.commas::before {
	background: url(https://i.ibb.co/6HyYXXy/image.png);
}

.bookmark h5.byline.heading::before {
	background: url(https://i.ibb.co/qxw8601/pin.png);
}
